In [13]:
import pandas as pd
temp=pd.read_csv('temp.csv')
temp.head()

         date    day    time   temp  activ
0  01-07-2019  307.0   930.0  36.58    NaN
1  02-07-2019  307.0   940.0  36.73    0.0
2  03-07-2019  307.0   950.0  36.93    0.0
3  04-07-2019  307.0  1000.0  37.15    NaN
4  05-07-2019  307.0  1010.0  37.23    0.0

In [20]:
temp.dropna(how="all")
temp.sum(axis=1)

0      1273.58
1      1283.73
2      1293.93
3      1344.15
4      1354.23
5      1364.24
6      1374.24
7      1383.90
8      1393.95
9      1443.89
10     1453.95
11     1464.00
12     1473.90
13     1483.99
14     1493.99
15     1544.01
16     1554.04
17     1564.04
18     1574.14
19     1584.07
20     1593.98
21     1644.01
22     1653.97
23     1663.97
24     1674.12
25     1684.13
26     1694.14
27     1744.15
28     1754.17
29     1764.12
        ...
71     2465.95
72     2475.76
73     2485.60
74     2495.89
75     2545.86
76     2555.71
77     2565.78
78     2575.82
79     2585.76
80     2595.81
81     2645.84
82     2656.01
83     2666.10
84     2676.15
85     2685.92
86     2695.64
87      346.70
88      356.46
89      366.41
90      376.46
91      386.56
92      396.55
93      446.75
94      456.76
95      466.73
96      476.77
97      487.01
98      497.04
99      547.07
100       0.00
Length: 101, dtype: float64

In [21]:
temp.dropna(subset=['activ'])

          date    day    time   temp  activ
1   02-07-2019  307.0   940.0  36.73    0.0
2   03-07-2019  307.0   950.0  36.93    0.0
4   05-07-2019  307.0  1010.0  37.23    0.0
5   06-07-2019  307.0  1020.0  37.24    0.0
6   07-07-2019  307.0  1030.0  37.24    0.0
7   08-07-2019  307.0  1040.0  36.90    0.0
8   09-07-2019  307.0  1050.0  36.95    0.0
9   10-07-2019  307.0  1100.0  36.89    0.0
10  11-07-2019  307.0  1110.0  36.95    0.0
11  12-07-2019  307.0  1120.0  37.00    0.0
12  13-07-2019  307.0  1130.0  36.90    0.0
13  14-07-2019  307.0  1140.0  36.99    0.0
14  15-07-2019  307.0  1150.0  36.99    0.0
15  16-07-2019  307.0  1200.0  37.01    0.0
16  17-07-2019  307.0  1210.0  37.04    0.0
17  18-07-2019  307.0  1220.0  37.04    0.0
18  19-07-2019  307.0  1230.0  37.14    0.0
19  20-07-2019  307.0  1240.0  37.07    0.0
20  21-07-2019  307.0  1250.0  36.98    0.0
21  22-07-2019  307.0  1300.0  37.01    0.0
22  23-07-2019  307.0  1310.0  36.97    0.0
23  24-07-2019  307.0  1320.0  36.97    0.0
24  25-07-2019  307.0  1330.0  37.12    0.0
25  26-07-2019  307.0  1340.0  37.13    0.0
26  27-07-2019  307.0  1350.0  37.14    0.0
27  28-07-2019  307.0  1400.0  37.15    0.0
28  29-07-2019  307.0  1410.0  37.17    0.0
29  30-07-2019  307.0  1420.0  37.12    0.0
30  31-07-2019  307.0  1430.0  37.12    0.0
31  01-08-2019  307.0  1440.0  37.17    0.0
..         ...    ...     ...    ...    ...
70  09-09-2019  307.0  2110.0  37.95    1.0
71  10-09-2019  307.0  2120.0  37.95    1.0
72  11-09-2019  307.0  2130.0  37.76    1.0
73  12-09-2019  307.0  2140.0  37.60    1.0
74  13-09-2019  307.0  2150.0  37.89    1.0
75  14-09-2019  307.0  2200.0  37.86    1.0
76  15-09-2019  307.0  2210.0  37.71    1.0
77  16-09-2019  307.0  2220.0  37.78    1.0
78  17-09-2019  307.0  2230.0  37.82    1.0
79  18-09-2019  307.0  2240.0  37.76    1.0
80  19-09-2019  307.0  2250.0  37.81    1.0
81  20-09-2019  307.0  2300.0  37.84    1.0
82  21-09-2019  307.0  2310.0  38.01    1.0
83  22-09-2019  307.0  2320.0  38.10    1.0
84  23-09-2019  307.0  2330.0  38.15    1.0
85  24-09-2019  307.0  2340.0  37.92    1.0
86  25-09-2019  307.0  2350.0  37.64    1.0
87  26-09-2019  308.0     0.0  37.70    1.0
88  27-09-2019  308.0    10.0  37.46    1.0
89  28-09-2019  308.0    20.0  37.41    1.0
90  29-09-2019  308.0    30.0  37.46    1.0
91  30-09-2019  308.0    40.0  37.56    1.0
92  01-10-2019  308.0    50.0  37.55    1.0
93  02-10-2019  308.0   100.0  37.75    1.0
94  03-10-2019  308.0   110.0  37.76    1.0
95  04-10-2019  308.0   120.0  37.73    1.0
96  05-10-2019  308.0   130.0  37.77    1.0
97  06-10-2019  308.0   140.0  38.01    1.0
98  07-10-2019  308.0   150.0  38.04    1.0
99  08-10-2019  308.0   200.0  38.07    1.0

[98 rows x 5 columns]

In [26]:
temp['activ'].fillna(0,inplace=True)
temp.tail()

           date    day   time   temp  activ
96   05-10-2019  308.0  130.0  37.77    1.0
97   06-10-2019  308.0  140.0  38.01    1.0
98   07-10-2019  308.0  150.0  38.04    1.0
99   08-10-2019  308.0  200.0  38.07    1.0
100         NaN    NaN    NaN    NaN    0.0

In [27]:
temp.sort_values('temp')

           date    day    time   temp  activ
0    01-07-2019  307.0   930.0  36.58    0.0
1    02-07-2019  307.0   940.0  36.73    0.0
9    10-07-2019  307.0  1100.0  36.89    0.0
12   13-07-2019  307.0  1130.0  36.90    0.0
7    08-07-2019  307.0  1040.0  36.90    0.0
2    03-07-2019  307.0   950.0  36.93    0.0
10   11-07-2019  307.0  1110.0  36.95    0.0
8    09-07-2019  307.0  1050.0  36.95    0.0
22   23-07-2019  307.0  1310.0  36.97    0.0
23   24-07-2019  307.0  1320.0  36.97    0.0
20   21-07-2019  307.0  1250.0  36.98    0.0
13   14-07-2019  307.0  1140.0  36.99    0.0
14   15-07-2019  307.0  1150.0  36.99    0.0
11   12-07-2019  307.0  1120.0  37.00    0.0
15   16-07-2019  307.0  1200.0  37.01    0.0
21   22-07-2019  307.0  1300.0  37.01    0.0
16   17-07-2019  307.0  1210.0  37.04    0.0
17   18-07-2019  307.0  1220.0  37.04    0.0
19   20-07-2019  307.0  1240.0  37.07    0.0
29   30-07-2019  307.0  1420.0  37.12    0.0
30   31-07-2019  307.0  1430.0  37.12    0.0
24   25-07-2019  307.0  1330.0  37.12    0.0
25   26-07-2019  307.0  1340.0  37.13    0.0
26   27-07-2019  307.0  1350.0  37.14    0.0
18   19-07-2019  307.0  1230.0  37.14    0.0
27   28-07-2019  307.0  1400.0  37.15    0.0
3    04-07-2019  307.0  1000.0  37.15    0.0
28   29-07-2019  307.0  1410.0  37.17    0.0
31   01-08-2019  307.0  1440.0  37.17    0.0
4    05-07-2019  307.0  1010.0  37.23    0.0
..          ...    ...     ...    ...    ...
71   10-09-2019  307.0  2120.0  37.95    1.0
49   19-08-2019  307.0  1740.0  37.96    1.0
56   26-08-2019  307.0  1850.0  37.96    1.0
38   08-08-2019  307.0  1550.0  37.98    1.0
40   10-08-2019  307.0  1610.0  38.00    1.0
97   06-10-2019  308.0   140.0  38.01    1.0
82   21-09-2019  307.0  2310.0  38.01    1.0
47   17-08-2019  307.0  1720.0  38.01    1.0
39   09-08-2019  307.0  1600.0  38.02    1.0
45   15-08-2019  307.0  1700.0  38.02    1.0
50   20-08-2019  307.0  1750.0  38.03    1.0
98   07-10-2019  308.0   150.0  38.04    1.0
55   25-08-2019  307.0  1840.0  38.04    1.0
65   04-09-2019  307.0  2020.0  38.06    1.0
99   08-10-2019  308.0   200.0  38.07    1.0
83   22-09-2019  307.0  2320.0  38.10    1.0
42   12-08-2019  307.0  1630.0  38.10    1.0
46   16-08-2019  307.0  1710.0  38.11    1.0
44   14-08-2019  307.0  1650.0  38.11    1.0
54   24-08-2019  307.0  1830.0  38.15    1.0
84   23-09-2019  307.0  2330.0  38.15    1.0
51   21-08-2019  307.0  1800.0  38.17    1.0
53   23-08-2019  307.0  1820.0  38.18    1.0
52   22-08-2019  307.0  1810.0  38.19    1.0
66   05-09-2019  307.0  2030.0  38.19    1.0
43   13-08-2019  307.0  1640.0  38.24    1.0
41   11-08-2019  307.0  1620.0  38.24    1.0
68   07-09-2019  307.0  2050.0  38.25    1.0
67   06-09-2019  307.0  2040.0  38.35    1.0
100         NaN    NaN     NaN    NaN    0.0

[101 rows x 5 columns]

In [30]:
sale=pd.read_csv('sale.csv')
sale.head()

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
0,Central America and the Caribbean,Antigua and Barbuda,Baby Food,Online,M,12/20/2013,957081544,1/11/2014,552,255.28,159.42,140914.56,87999.84,52914.72
1,Central America and the Caribbean,Panama,Snacks,Offline,C,7/5/2010,301644504,7/26/2010,2167,152.58,97.44,330640.86,211152.48,119488.38
2,Europe,Czech Republic,Beverages,Offline,C,9/12/2011,478051030,9/29/2011,4778,47.45,31.79,226716.10,151892.62,74823.48
3,Asia,North Korea,Cereal,Offline,L,5/13/2010,892599952,6/15/2010,9016,205.70,117.11,1854591.20,1055863.76,798727.44
4,Asia,Sri Lanka,Snacks,Offline,C,7/20/2015,571902596,7/27/2015,7542,152.58,97.44,1150758.36,734892.48,415865.88

In [31]:
sale.sort_values(['Region','Country'])

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
422,Asia,Bangladesh,Household,Offline,C,6/21/2014,243892896,7/22/2014,2183,668.27,502.54,1458833.41,1097044.82,361788.59
830,Asia,Bangladesh,Fruits,Online,L,1/8/2015,156616818,2/4/2015,5252,9.33,6.92,49001.16,36343.84,12657.32
850,Asia,Bangladesh,Clothes,Online,C,7/11/2014,208590734,8/19/2014,5488,109.28,35.84,599728.64,196689.92,403038.72
892,Asia,Bangladesh,Snacks,Online,H,5/10/2014,136126458,6/2/2014,1699,152.58,97.44,259233.42,165550.56,93682.86
1065,Asia,Bangladesh,Office Supplies,Offline,M,9/15/2015,562147510,10/11/2015,795,651.21,524.96,517711.95,417343.20,100368.75
1273,Asia,Bangladesh,Baby Food,Online,L,2/26/2014,221880328,3/30/2014,8175,255.28,159.42,2086914.00,1303258.50,783655.50
1643,Asia,Bangladesh,Fruits,Online,L,6/1/2013,707964408,6/14/2013,1256,9.33,6.92,11718.48,8691.52,3026.96
1703,Asia,Bangladesh,Baby Food,Online,L,10/10/2015,336707198,11/27/2015,7997,255.28,159.42,2041474.16,1274881.74,766592.42
1929,Asia,Bangladesh,Baby Food,Offline,H,11/21/2016,237762439,12/4/2016,8044,255.28,159.42,2053472.32,1282374.48,771097.84
2133,Asia,Bangladesh,Beverages,Offline,M,12/12/2012,292287242,1/11/2013,3145,47.45,31.79,149230.25,99979.55,49250.70
2337,Asia,Bangladesh,Meat,Online,H,7/12/2015,945566928,7/20/2015,3121,421.89,364.69,1316718.69,1138197.49,178521.20
2341,Asia,Bangladesh,Meat,Online,L,10/19/2010,165594279,12/8/2010,1882,421.89,364.69,793996.98,686346.58,107650.40
2590,Asia,Bangladesh,Cosmetics,Offline,C,4/29/2015,765575253,5/4/2015,9585,437.20,263.33,4190562.00,2524018.05,1666543.95
2663,Asia,Bangladesh,Cosmetics,Online,M,10/30/2016,269443404,11/5/2016,3146,437.20,263.33,1375431.20,828436.18,546995.02
2785,Asia,Bangladesh,Beverages,Offline,H,8/21/2014,447419345,9/18/2014,182,47.45,31.79,8635.90,5785.78,2850.12
3243,Asia,Bangladesh,Snacks,Offline,L,9/15/2013,519686210,9/24/2013,5553,152.58,97.44,847276.74,541084.32,306192.42
3304,Asia,Bangladesh,Meat,Offline,C,1/13/2016,394021928,2/20/2016,8699,421.89,364.69,3670021.11,3172438.31,497582.80
3540,Asia,Bangladesh,Fruits,Online,C,3/15/2011,216144692,4/18/2011,873,9.33,6.92,8145.09,6041.16,2103.93
3675,Asia,Bangladesh,Cosmetics,Offline,C,8/11/2012,959983909,9/7/2012,9426,437.20,263.33,4121047.20,2482148.58,1638898.62
4343,Asia,Bangladesh,Cosmetics,Online,L,3/11/2013,758177077,3/21/2013,300,437.20,263.33,131160.00,78999.00,52161.00
4488,Asia,Bangladesh,Vegetables,Online,L,5/5/2016,634471452,6/13/2016,3057,154.06,90.93,470961.42,277973.01,192988.41
4949,Asia,Bangladesh,Baby Food,Online,C,11/19/2010,915761363,1/3/2011,2992,255.28,159.42,763797.76,476984.64,286813.12
111,Asia,Bhutan,Office Supplies,Offline,M,8/3/2016,597169005,8/14/2016,4434,651.21,524.96,2887465.14,2327672.64,559792.50
529,Asia,Bhutan,Fruits,Online,L,1/2/2014,665518558,2/14/2014,585,9.33,6.92,5458.05,4048.20,1409.85
760,Asia,Bhutan,Personal Care,Online,M,4/4/2015,706260240,5/4/2015,6954,81.73,56.67,568350.42,394083.18,174267.24
883,Asia,Bhutan,Clothes,Offline,H,6/27/2017,286312568,7/9/2017,5106,109.28,35.84,557983.68,182999.04,374984.64
888,Asia,Bhutan,Vegetables,Offline,C,5/3/2017,245768296,5/12/2017,7155,154.06,90.93,1102299.30,650604.15,451695.15
1073,Asia,Bhutan,Cosmetics,Offline,C,12/18/2016,805937564,1/7/2017,3690,437.20,263.33,1613268.00,971687.70,641580.30
1784,Asia,Bhutan,Cereal,Online,C,10/2/2016,622324693,10/21/2016,8561,205.70,117.11,1760997.70,1002578.71,758418.99
1912,Asia,Bhutan,Snacks,Offline,M,4/6/2011,161832749,5/25/2011,8762,152.58,97.44,1336905.96,853769.28,483136.68
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4181,Sub-Saharan Africa,Zambia,Personal Care,Offline,L,6/12/2011,827541148,7/23/2011,6670,81.73,56.67,545139.10,377988.90,167150.20
4245,Sub-Saharan Africa,Zambia,Beverages,Offline,M,9/9/2010,338017833,10/28/2010,5843,47.45,31.79,277250.35,185748.97,91501.38
4331,Sub-Saharan Africa,Zambia,Office Supplies,Offline,H,7/18/2013,267907035,7/20/2013,8500,651.21,524.96,5535285.00,4462160.00,1073125.00
4542,Sub-Saharan Africa,Zambia,Beverages,Offline,C,6/14/2015,959772336,7/18/2015,6817,47.45,31.79,323466.65,216712.43,106754.22
4651,Sub-Saharan Africa,Zambia,Cosmetics,Online,L,7/29/2010,230251395,9/9/2010,5359,437.20,263.33,2342954.80,1411185.47,931769.33
4690,Sub-Saharan Africa,Zambia,Cereal,Online,L,8/21/2014,505551183,9/23/2014,2684,205.70,117.11,552098.80,314323.24,237775.56
4712,Sub-Saharan Africa,Zambia,Clothes,Online,H,9/14/2011,531735551,11/2/2011,1221,109.28,35.84,133430.88,43760.64,89670.24
4793,Sub-Saharan Africa,Zambia,Household,Online,C,1/16/2016,983644855,1/31/2016,1226,668.27,502.54,819299.02,616114.04,203184.98
4976,Sub-Saharan Africa,Zambia,Cereal,Online,M,1/16/2016,127332246,2/11/2016,9296,205.70,117.11,1912187.20,1088654.56,823532.64
547,Sub-Saharan Africa,Zimbabwe,Household,Offline,M,10/3/2015,165538489,10/8/2015,5372,668.27,502.54,3589946.44,2699644.88,890301.56
612,Sub-Saharan Africa,Zimbabwe,Baby Food,Offline,M,8/18/2016,172261178,9/13/2016,4765,255.28,159.42,1216409.20,759636.30,456772.90
649,Sub-Saharan Africa,Zimbabwe,Beverages,Offline,H,12/4/2013,282916247,12/29/2013,59,47.45,31.79,2799.55,1875.61,923.94
712,Sub-Saharan Africa,Zimbabwe,Snacks,Offline,L,1/26/2013,704921281,2/5/2013,727,152.58,97.44,110925.66,70838.88,40086.78
2099,Sub-Saharan Africa,Zimbabwe,Baby Food,Offline,H,8/20/2010,901189887,9/3/2010,969,255.28,159.42,247366.32,154477.98,92888.34
2119,Sub-Saharan Africa,Zimbabwe,Beverages,Offline,L,5/15/2012,664278304,6/24/2012,3567,47.45,31.79,169254.15,113394.93,55859.22
2128,Sub-Saharan Africa,Zimbabwe,Vegetables,Online,L,1/7/2011,610387361,1/20/2011,6039,154.06,90.93,930368.34,549126.27,381242.07
2241,Sub-Saharan Africa,Zimbabwe,Clothes,Online,M,12/22/2011,201531589,1/9/2012,6530,109.28,35.84,713598.40,234035.20,479563.20
2279,Sub-Saharan Africa,Zimbabwe,Snacks,Online,M,4/5/2017,172598922,4/18/2017,4711,152.58,97.44,718804.38,459039.84,259764.54
2569,Sub-Saharan Africa,Zimbabwe,Fruits,Online,L,8/22/2013,102685534,8/23/2013,5786,9.33,6.92,53983.38,40039.12,13944.26
2746,Sub-Saharan Africa,Zimbabwe,Snacks,Online,C,12/6/2016,253349721,1/6/2017,667,152.58,97.44,101770.86,64992.48,36778.38
3003,Sub-Saharan Africa,Zimbabwe,Vegetables,Online,L,8/23/2013,915310752,9/23/2013,9647,154.06,90.93,1486216.82,877201.71,609015.11
3062,Sub-Saharan Africa,Zimbabwe,Snacks,Offline,L,6/8/2011,601861798,7/20/2011,3136,152.58,97.44,478490.88,305571.84,172919.04
3262,Sub-Saharan Africa,Zimbabwe,Baby Food,Offline,M,8/1/2014,256098020,8/21/2014,3950,255.28,159.42,1008356.00,629709.00,378647.00
3491,Sub-Saharan Africa,Zimbabwe,Office Supplies,Offline,M,7/29/2014,755669105,8/27/2014,8136,651.21,524.96,5298244.56,4271074.56,1027170.00
3495,Sub-Saharan Africa,Zimbabwe,Vegetables,Online,H,7/4/2012,938648116,8/14/2012,5691,154.06,90.93,876755.46,517482.63,359272.83
3616,Sub-Saharan Africa,Zimbabwe,Cereal,Offline,L,5/18/2014,207168519,7/6/2014,4623,205.70,117.11,950951.10,541399.53,409551.57
3632,Sub-Saharan Africa,Zimbabwe,Beverages,Offline,H,2/18/2014,553903901,4/6/2014,1328,47.45,31.79,63013.60,42217.12,20796.48
4642,Sub-Saharan Africa,Zimbabwe,Cereal,Online,L,1/27/2012,190003240,3/8/2012,5036,205.70,117.11,1035905.20,589765.96,446139.24
4684,Sub-Saharan Africa,Zimbabwe,Clothes,Offline,M,3/15/2012,460751855,4/27/2012,5568,109.28,35.84,608471.04,199557.12,408913.92
4852,Sub-Saharan Africa,Zimbabwe,Meat,Offline,M,9/9/2012,317781960,9/20/2012,7599,421.89,364.69,3205942.11,2771279.31,434662.80

In [39]:
sales=pd.read_csv('sale.csv').dropna(how='all')
sale['Total Profit']=sale['Total Profit'].fillna(0).astype(int)
sale['Total Profit'].rank(ascending=True).astype(int)
sale['Total Profit Rank']=sale['Total Profit'].rank(ascending=True).astype(int)
sale.sort_values('Total Profit',ascending=True)

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit,Total Profit Rank
664,North America,United States of America,Fruits,Online,M,12/9/2014,158660447,1/9/2015,7,9.33,6.92,65.31,48.44,16,1
1435,Australia and Oceania,East Timor,Beverages,Offline,L,10/11/2015,309510886,10/17/2015,4,47.45,31.79,189.80,127.16,62,2
1457,Europe,Finland,Fruits,Offline,H,1/12/2016,182078921,2/14/2016,54,9.33,6.92,503.82,373.68,130,3
1405,Sub-Saharan Africa,Rwanda,Clothes,Online,M,10/23/2013,410077846,12/2/2013,2,109.28,35.84,218.56,71.68,146,4
3284,Central America and the Caribbean,Saint Kitts and Nevis,Clothes,Offline,L,10/14/2013,532441079,11/8/2013,2,109.28,35.84,218.56,71.68,146,4
3188,Asia,Vietnam,Fruits,Online,L,1/10/2011,854958474,2/10/2011,66,9.33,6.92,615.78,456.72,159,6
603,Sub-Saharan Africa,Senegal,Fruits,Online,M,9/24/2012,466478049,10/29/2012,76,9.33,6.92,709.08,525.92,183,7
3109,North America,Canada,Fruits,Offline,C,7/19/2013,872564494,7/19/2013,79,9.33,6.92,737.07,546.68,190,8
582,Asia,Brunei,Baby Food,Online,C,4/19/2012,918961560,5/24/2012,2,255.28,159.42,510.56,318.84,191,9
3024,Central America and the Caribbean,Honduras,Fruits,Offline,L,1/30/2010,213506257,1/31/2010,101,9.33,6.92,942.33,698.92,243,10
2244,Europe,Bosnia and Herzegovina,Office Supplies,Offline,C,5/2/2010,152746713,5/8/2010,2,651.21,524.96,1302.42,1049.92,252,11
4129,Europe,Iceland,Fruits,Online,H,10/21/2014,640476596,10/24/2014,112,9.33,6.92,1044.96,775.04,269,12
1046,Europe,Bulgaria,Household,Online,C,3/21/2014,129902875,4/24/2014,2,668.27,502.54,1336.54,1005.08,331,13
2833,Central America and the Caribbean,Saint Lucia,Personal Care,Offline,M,2/22/2013,634866702,2/25/2013,20,81.73,56.67,1634.60,1133.40,501,14
4365,North America,United States of America,Fruits,Online,L,12/23/2013,104390132,1/23/2014,215,9.33,6.92,2005.95,1487.80,518,15
3562,Sub-Saharan Africa,Central African Republic,Vegetables,Online,H,5/20/2017,310828816,6/24/2017,9,154.06,90.93,1386.54,818.37,568,16
297,Sub-Saharan Africa,Botswana,Fruits,Online,L,5/21/2016,431739795,6/19/2016,254,9.33,6.92,2369.82,1757.68,612,17
1950,Australia and Oceania,Marshall Islands,Personal Care,Offline,M,6/2/2014,582488095,6/23/2014,26,81.73,56.67,2124.98,1473.42,651,18
2332,Asia,Japan,Fruits,Offline,C,6/22/2016,294068658,8/6/2016,306,9.33,6.92,2854.98,2117.52,737,19
4460,Europe,Czech Republic,Fruits,Online,M,11/1/2012,192589318,12/16/2012,314,9.33,6.92,2929.62,2172.88,756,20
3419,Europe,Slovakia,Fruits,Offline,L,8/14/2012,393858420,8/29/2012,314,9.33,6.92,2929.62,2172.88,756,20
3413,Sub-Saharan Africa,Mauritius,Fruits,Online,L,1/4/2012,739320933,2/10/2012,348,9.33,6.92,3246.84,2408.16,838,22
1375,Europe,France,Fruits,Offline,C,4/9/2014,601886260,5/27/2014,374,9.33,6.92,3489.42,2588.08,901,23
847,Central America and the Caribbean,Honduras,Fruits,Online,H,8/22/2012,922240722,9/29/2012,379,9.33,6.92,3536.07,2622.68,913,24
649,Sub-Saharan Africa,Zimbabwe,Beverages,Offline,H,12/4/2013,282916247,12/29/2013,59,47.45,31.79,2799.55,1875.61,923,25
794,Europe,Romania,Meat,Offline,L,12/22/2012,524972951,1/17/2013,17,421.89,364.69,7172.13,6199.73,972,26
265,Asia,Kyrgyzstan,Fruits,Offline,L,8/19/2016,273962390,9/5/2016,414,9.33,6.92,3862.62,2864.88,997,27
2477,Middle East and North Africa,United Arab Emirates,Fruits,Offline,H,12/5/2016,303531062,1/14/2017,441,9.33,6.92,4114.53,3051.72,1062,28
4404,Australia and Oceania,Samoa,Fruits,Offline,C,1/23/2011,815050637,3/7/2011,451,9.33,6.92,4207.83,3120.92,1086,29
360,Middle East and North Africa,Morocco,Vegetables,Offline,H,6/29/2011,944711625,7/23/2011,18,154.06,90.93,2773.08,1636.74,1136,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4855,Sub-Saharan Africa,Ethiopia,Cosmetics,Offline,M,10/29/2014,399803054,11/30/2014,9463,437.20,263.33,4137223.60,2491891.79,1645331,4971
1922,Sub-Saharan Africa,Mauritania,Household,Offline,M,12/28/2011,992156255,1/25/2012,9939,668.27,502.54,6641935.53,4994745.06,1647190,4972
4255,Europe,Sweden,Cosmetics,Offline,C,1/16/2010,336813628,2/23/2010,9492,437.20,263.33,4149902.40,2499528.36,1650374,4973
773,Europe,Hungary,Cosmetics,Online,H,10/6/2010,332353007,11/22/2010,9495,437.20,263.33,4151214.00,2500318.35,1650895,4974
4765,Sub-Saharan Africa,Mali,Household,Online,H,4/6/2012,244088160,5/13/2012,9966,668.27,502.54,6659978.82,5008313.64,1651665,4975
3362,Middle East and North Africa,Oman,Cosmetics,Offline,H,7/24/2011,259766423,9/11/2011,9512,437.20,263.33,4158646.40,2504794.96,1653851,4976
487,Middle East and North Africa,Tunisia,Cosmetics,Online,M,11/5/2014,695658004,12/8/2014,9517,437.20,263.33,4160832.40,2506111.61,1654720,4977
974,Europe,San Marino,Household,Offline,H,12/9/2015,821131742,12/9/2015,9985,668.27,502.54,6672675.95,5017861.90,1654814,4978
358,Australia and Oceania,Nauru,Cosmetics,Online,M,3/1/2016,398552930,3/29/2016,9524,437.20,263.33,4163892.80,2507954.92,1655937,4979
4502,Australia and Oceania,Palau,Cosmetics,Online,H,5/17/2011,637636029,6/19/2011,9526,437.20,263.33,4164767.20,2508481.58,1656285,4980
1187,Europe,Albania,Cosmetics,Offline,C,8/23/2010,694914710,9/25/2010,9560,437.20,263.33,4179632.00,2517434.80,1662197,4981
1058,Europe,Germany,Cosmetics,Offline,M,2/26/2012,385340154,3/18/2012,9569,437.20,263.33,4183566.80,2519804.77,1663762,4982
872,Central America and the Caribbean,Dominica,Cosmetics,Offline,L,1/29/2015,790243852,2/10/2015,9572,437.20,263.33,4184878.40,2520594.76,1664283,4983
2590,Asia,Bangladesh,Cosmetics,Offline,C,4/29/2015,765575253,5/4/2015,9585,437.20,263.33,4190562.00,2524018.05,1666543,4984
4841,Middle East and North Africa,Iran,Cosmetics,Offline,H,11/27/2012,856443774,1/10/2013,9600,437.20,263.33,4197120.00,2527968.00,1669152,4985
2327,Australia and Oceania,New Zealand,Cosmetics,Offline,M,12/16/2012,910681045,1/8/2013,9613,437.20,263.33,4202803.60,2531391.29,1671412,4986
217,Europe,Albania,Cosmetics,Offline,L,9/30/2016,576944720,10/9/2016,9619,437.20,263.33,4205426.80,2532971.27,1672455,4987
85,Asia,Myanmar,Cosmetics,Online,C,6/13/2014,657033336,7/2/2014,9620,437.20,263.33,4205864.00,2533234.60,1672629,4988
4892,Europe,Norway,Cosmetics,Offline,L,12/9/2011,337354791,1/28/2012,9634,437.20,263.33,4211984.80,2536921.22,1675063,4989
2522,Australia and Oceania,Fiji,Cosmetics,Online,L,2/12/2012,128448903,2/21/2012,9740,437.20,263.33,4258328.00,2564834.20,1693493,4990
2291,Australia and Oceania,Palau,Cosmetics,Offline,H,10/25/2012,545315253,10/28/2012,9756,437.20,263.33,4265323.20,2569047.48,1696275,4991
1740,Asia,Brunei,Cosmetics,Offline,C,7/4/2011,540347802,7/11/2011,9777,437.20,263.33,4274504.40,2574577.41,1699926,4992
3236,Europe,Andorra,Cosmetics,Online,H,4/10/2012,291160714,5/26/2012,9780,437.20,263.33,4275816.00,2575367.40,1700448,4993
2899,North America,Greenland,Cosmetics,Online,M,2/12/2013,873847663,3/10/2013,9797,437.20,263.33,4283248.40,2579844.01,1703404,4994
4099,Sub-Saharan Africa,Ethiopia,Cosmetics,Offline,L,12/27/2013,500607764,2/14/2014,9817,437.20,263.33,4291992.40,2585110.61,1706881,4995
2290,Sub-Saharan Africa,Democratic Republic of the Congo,Cosmetics,Online,H,9/5/2013,523857152,10/9/2013,9827,437.20,263.33,4296364.40,2587743.91,1708620,4996
4672,Middle East and North Africa,Qatar,Cosmetics,Offline,M,7/30/2012,918656861,8/17/2012,9835,437.20,263.33,4299862.00,2589850.55,1710011,4997
2471,Sub-Saharan Africa,Burkina Faso,Cosmetics,Online,H,2/16/2011,980396163,2/24/2011,9866,437.20,263.33,4313415.20,2598013.78,1715401,4998
4599,Sub-Saharan Africa,South Sudan,Cosmetics,Online,H,1/3/2014,128990066,1/24/2014,9882,437.20,263.33,4320410.40,2602227.06,1718183,4999
896,Sub-Saharan Africa,Benin,Cosmetics,Online,M,4/27/2012,813325440,5/15/2012,9927,437.20,263.33,4340084.40,2614076.91,1726007,5000

In [43]:
df=pd.read_csv('salary.csv',index_col=['Emp ID'],squeeze=True)
df.head()

,Name Prefix,First Name,Middle Initial,Last Name,Gender,E Mail,Father's Name,Mother's Name,Mother's Maiden Name,Date of Birth,...,SSN,Phone No.,Place Name,County,City,State,Zip,Region,User Name,Password
Emp ID,,,,,,,,,,,,,,,,,,,,,
677509,Drs.,Lois,H,Walker,F,lois.walker@hotmail.com,Donald Walker,Helen Walker,Lewis,3/29/1981,...,467-99-4677,303-572-8492,Denver,Denver,Denver,CO,80224,West,lhwalker,DCa}.T}X:v?NP
940761,Ms.,Brenda,S,Robinson,F,brenda.robinson@gmail.com,Raymond Robinson,Judy Robinson,Perry,7/31/1970,...,537-71-4566,225-945-4954,Stonewall,De Soto,Stonewall,LA,71078,South,bsrobinson,TCo\j#Zg;SQ~o
428945,Dr.,Joe,W,Robinson,M,joe.robinson@gmail.com,Scott Robinson,Stephanie Robinson,Taylor,6/16/1963,...,025-92-3584,219-904-2161,Michigantown,Clinton,Michigantown,IN,46057,Midwest,jwrobinson,GO4$J8MiEh[A
408351,Drs.,Diane,I,Evans,F,diane.evans@yahoo.com,Jason Evans,Michelle Evans,Allen,12/4/1977,...,314-35-9851,215-793-6791,Hydetown,Crawford,Hydetown,PA,16328,Northeast,dievans,0gGRtp1HfL<r5
193819,Mr.,Benjamin,R,Russell,M,benjamin.russell@charter.net,Gregory Russell,Elizabeth Russell,Nelson,4/17/1977,...,121-98-7248,262-404-2252,Fremont,Waupaca,Fremont,WI,54940,Midwest,brrussell,Rd<Y8cp!@R;*%F

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100 entries, 677509 to 495141
Data columns (total 36 columns):
Name Prefix               100 non-null object
First Name                100 non-null object
Middle Initial            100 non-null object
Last Name                 100 non-null object
Gender                    100 non-null object
E Mail                    100 non-null object
Father's Name             100 non-null object
Mother's Name             100 non-null object
Mother's Maiden Name      100 non-null object
Date of Birth             100 non-null object
Time of Birth             100 non-null object
Age in Yrs.               100 non-null float64
Weight in Kgs.            100 non-null int64
Date of Joining           100 non-null object
Quarter of Joining        100 non-null object
Half of Joining           100 non-null object
Year of Joining           100 non-null int64
Month of Joining          100 non-null int64
Month Name of Joining     100 non-null object
Short Month               100 non-null object
Day of Joining            100 non-null int64
DOW of Joining            100 non-null object
Short DOW                 100 non-null object
Age in Company (Years)    100 non-null float64
Salary                    100 non-null int64
Last % Hike               100 non-null object
SSN                       100 non-null object
Phone No.                 100 non-null object
Place Name                100 non-null object
County                    100 non-null object
City                      100 non-null object
State                     100 non-null object
Zip                       100 non-null int64
Region                    100 non-null object
User Name                 100 non-null object
Password                  100 non-null object
dtypes: float64(2), int64(6), object(28)
memory usage: 28.9+ KB

In [71]:
pd.to_datetime(df[0])

ValueError: ('Unknown string format:', 'Emp ID')

In [76]:
df=pd.read_csv('sale.csv')
df.head()

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
0,Central America and the Caribbean,Antigua and Barbuda,Baby Food,Online,M,12/20/2013,957081544,1/11/2014,552,255.28,159.42,140914.56,87999.84,52914.72
1,Central America and the Caribbean,Panama,Snacks,Offline,C,7/5/2010,301644504,7/26/2010,2167,152.58,97.44,330640.86,211152.48,119488.38
2,Europe,Czech Republic,Beverages,Offline,C,9/12/2011,478051030,9/29/2011,4778,47.45,31.79,226716.10,151892.62,74823.48
3,Asia,North Korea,Cereal,Offline,L,5/13/2010,892599952,6/15/2010,9016,205.70,117.11,1854591.20,1055863.76,798727.44
4,Asia,Sri Lanka,Snacks,Offline,C,7/20/2015,571902596,7/27/2015,7542,152.58,97.44,1150758.36,734892.48,415865.88

In [79]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 14 columns):
Region            5000 non-null object
Country           5000 non-null object
Item Type         5000 non-null object
Sales Channel     5000 non-null object
Order Priority    5000 non-null object
Order Date        5000 non-null object
Order ID          5000 non-null int64
Ship Date         5000 non-null object
Units Sold        5000 non-null int64
Unit Price        5000 non-null float64
Unit Cost         5000 non-null float64
Total Revenue     5000 non-null float64
Total Cost        5000 non-null float64
Total Profit      5000 non-null float64
dtypes: float64(5), int64(2), object(7)
memory usage: 547.0+ KB

In [81]:
df["Order Date"].head()

0    12/20/2013
1      7/5/2010
2     9/12/2011
3     5/13/2010
4     7/20/2015
Name: Order Date, dtype: object

In [83]:
pd.to_datetime(df["Order Date"]).head()
df["Order Date"]=pd.to_datetime(df["Order Date"])

In [85]:
df["Country"].head()

0    Antigua and Barbuda
1                  Panama
2          Czech Republic
3             North Korea
4               Sri Lanka
Name: Country, dtype: object

In [88]:
df=pd.read_csv('sale.csv')
df.head()

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
0,Central America and the Caribbean,Antigua and Barbuda,Baby Food,Online,M,12/20/2013,957081544,1/11/2014,552,255.28,159.42,140914.56,87999.84,52914.72
1,Central America and the Caribbean,Panama,Snacks,Offline,C,7/5/2010,301644504,7/26/2010,2167,152.58,97.44,330640.86,211152.48,119488.38
2,Europe,Czech Republic,Beverages,Offline,C,9/12/2011,478051030,9/29/2011,4778,47.45,31.79,226716.10,151892.62,74823.48
3,Asia,North Korea,Cereal,Offline,L,5/13/2010,892599952,6/15/2010,9016,205.70,117.11,1854591.20,1055863.76,798727.44
4,Asia,Sri Lanka,Snacks,Offline,C,7/20/2015,571902596,7/27/2015,7542,152.58,97.44,1150758.36,734892.48,415865.88

In [92]:
mask1=df['Region']=='Asia'
mask2=df['Sales Channel']=='Online'
df[mask1 & mask2].head()

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
42,Asia,Laos,Meat,Online,L,3/21/2017,734708821,3/24/2017,5522,421.89,364.69,2329676.58,2013818.18,315858.40
43,Asia,Kyrgyzstan,Snacks,Online,C,8/6/2013,727492606,9/22/2013,84,152.58,97.44,12816.72,8184.96,4631.76
49,Asia,Taiwan,Baby Food,Online,M,5/27/2014,369560611,6/13/2014,52,255.28,159.42,13274.56,8289.84,4984.72
51,Asia,Laos,Office Supplies,Online,H,8/10/2012,197185981,9/11/2012,568,651.21,524.96,369887.28,298177.28,71710.00
85,Asia,Myanmar,Cosmetics,Online,C,6/13/2014,657033336,7/2/2014,9620,437.20,263.33,4205864.00,2533234.60,1672629.40

In [93]:
mask3=df['Region']=='Asia'
mask4=df['Sales Channel']=='Online'
df[mask3 | mask4].head()

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
0,Central America and the Caribbean,Antigua and Barbuda,Baby Food,Online,M,12/20/2013,957081544,1/11/2014,552,255.28,159.42,140914.56,87999.84,52914.72
3,Asia,North Korea,Cereal,Offline,L,5/13/2010,892599952,6/15/2010,9016,205.70,117.11,1854591.20,1055863.76,798727.44
4,Asia,Sri Lanka,Snacks,Offline,C,7/20/2015,571902596,7/27/2015,7542,152.58,97.44,1150758.36,734892.48,415865.88
7,Europe,Bosnia and Herzegovina,Clothes,Online,M,10/14/2013,919133651,11/4/2013,927,109.28,35.84,101302.56,33223.68,68078.88
9,Sub-Saharan Africa,Ethiopia,Baby Food,Online,M,4/13/2015,192993152,5/7/2015,9817,255.28,159.42,2506083.76,1565026.14,941057.62

In [101]:
df=pd.read_csv('sale.csv')
df
mask=df['Region'].isin(['Asia','Europe','Sub-Saharan Africa'])
df[mask].head()

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
2,Europe,Czech Republic,Beverages,Offline,C,9/12/2011,478051030,9/29/2011,4778,47.45,31.79,226716.10,151892.62,74823.48
3,Asia,North Korea,Cereal,Offline,L,5/13/2010,892599952,6/15/2010,9016,205.70,117.11,1854591.20,1055863.76,798727.44
4,Asia,Sri Lanka,Snacks,Offline,C,7/20/2015,571902596,7/27/2015,7542,152.58,97.44,1150758.36,734892.48,415865.88
7,Europe,Bosnia and Herzegovina,Clothes,Online,M,10/14/2013,919133651,11/4/2013,927,109.28,35.84,101302.56,33223.68,68078.88
9,Sub-Saharan Africa,Ethiopia,Baby Food,Online,M,4/13/2015,192993152,5/7/2015,9817,255.28,159.42,2506083.76,1565026.14,941057.62

In [104]:
mask=df['Region'].isnull()
df[mask]

Empty DataFrame
Columns: [Region, Country, Item Type, Sales Channel, Order Priority, Order Date, Order ID, Ship Date, Units Sold, Unit Price, Unit Cost, Total Revenue, Total Cost, Total Profit]
Index: []

In [105]:
mask1=df['Region'].notnull()
df[mask1]

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
0,Central America and the Caribbean,Antigua and Barbuda,Baby Food,Online,M,12/20/2013,957081544,1/11/2014,552,255.28,159.42,140914.56,87999.84,52914.72
1,Central America and the Caribbean,Panama,Snacks,Offline,C,7/5/2010,301644504,7/26/2010,2167,152.58,97.44,330640.86,211152.48,119488.38
2,Europe,Czech Republic,Beverages,Offline,C,9/12/2011,478051030,9/29/2011,4778,47.45,31.79,226716.10,151892.62,74823.48
3,Asia,North Korea,Cereal,Offline,L,5/13/2010,892599952,6/15/2010,9016,205.70,117.11,1854591.20,1055863.76,798727.44
4,Asia,Sri Lanka,Snacks,Offline,C,7/20/2015,571902596,7/27/2015,7542,152.58,97.44,1150758.36,734892.48,415865.88
5,Middle East and North Africa,Morocco,Personal Care,Offline,L,11/8/2010,412882792,11/22/2010,48,81.73,56.67,3923.04,2720.16,1202.88
6,Australia and Oceania,Federated States of Micronesia,Clothes,Offline,H,3/28/2011,932776868,5/10/2011,8258,109.28,35.84,902434.24,295966.72,606467.52
7,Europe,Bosnia and Herzegovina,Clothes,Online,M,10/14/2013,919133651,11/4/2013,927,109.28,35.84,101302.56,33223.68,68078.88
8,Middle East and North Africa,Afghanistan,Clothes,Offline,M,8/27/2016,579814469,10/5/2016,8841,109.28,35.84,966144.48,316861.44,649283.04
9,Sub-Saharan Africa,Ethiopia,Baby Food,Online,M,4/13/2015,192993152,5/7/2015,9817,255.28,159.42,2506083.76,1565026.14,941057.62
10,Middle East and North Africa,Turkey,Office Supplies,Offline,C,9/25/2013,557156026,10/15/2013,3704,651.21,524.96,2412081.84,1944451.84,467630.00
11,Middle East and North Africa,Oman,Cosmetics,Online,M,5/12/2013,741101920,5/17/2013,7382,437.20,263.33,3227410.40,1943902.06,1283508.34
12,Asia,Malaysia,Cereal,Offline,L,7/31/2016,333942162,8/25/2016,9762,205.70,117.11,2008043.40,1143227.82,864815.58
13,Central America and the Caribbean,Saint Lucia,Cosmetics,Offline,H,7/6/2015,795100581,7/16/2015,6786,437.20,263.33,2966839.20,1786957.38,1179881.82
14,Central America and the Caribbean,Saint Vincent and the Grenadines,Baby Food,Online,L,11/28/2010,504313504,12/3/2010,6428,255.28,159.42,1640939.84,1024751.76,616188.08
15,Middle East and North Africa,Lebanon,Meat,Offline,H,12/17/2015,611629760,1/31/2016,3693,421.89,364.69,1558039.77,1346800.17,211239.60
16,Europe,Austria,Cereal,Offline,C,8/13/2014,987410676,9/6/2014,5616,205.70,117.11,1155211.20,657689.76,497521.44
17,Europe,Bulgaria,Office Supplies,Online,L,10/31/2010,672330081,11/29/2010,6266,651.21,524.96,4080481.86,3289399.36,791082.50
18,North America,Mexico,Beverages,Online,C,3/13/2017,127374303,3/20/2017,1742,47.45,31.79,82657.90,55378.18,27279.72
19,Central America and the Caribbean,Trinidad and Tobago,Baby Food,Offline,C,4/16/2013,783842170,6/1/2013,5172,255.28,159.42,1320308.16,824520.24,495787.92
20,Middle East and North Africa,Libya,Beverages,Offline,L,1/18/2010,993345010,3/3/2010,1718,47.45,31.79,81519.10,54615.22,26903.88
21,Middle East and North Africa,Algeria,Baby Food,Offline,M,9/5/2015,977806651,10/14/2015,3572,255.28,159.42,911860.16,569448.24,342411.92
22,Europe,Estonia,Fruits,Online,L,9/28/2016,579463422,11/1/2016,4958,9.33,6.92,46258.14,34309.36,11948.78
23,Australia and Oceania,Tuvalu,Beverages,Offline,L,3/22/2012,610864150,4/7/2012,7132,47.45,31.79,338413.40,226726.28,111687.12
24,Middle East and North Africa,Saudi Arabia,Snacks,Offline,L,4/25/2017,604870164,6/5/2017,3378,152.58,97.44,515415.24,329152.32,186262.92
25,Central America and the Caribbean,Cuba,Cereal,Online,H,3/13/2014,164655292,5/1/2014,4015,205.70,117.11,825885.50,470196.65,355688.85
26,Europe,Montenegro,Fruits,Offline,L,5/29/2016,313705861,7/10/2016,1390,9.33,6.92,12968.70,9618.80,3349.90
27,Central America and the Caribbean,Guatemala,Office Supplies,Online,M,1/17/2012,345820701,2/1/2012,4885,651.21,524.96,3181160.85,2564429.60,616731.25
28,Sub-Saharan Africa,Guinea,Baby Food,Online,M,12/27/2012,975111138,1/21/2013,5910,255.28,159.42,1508704.80,942172.20,566532.60
29,Australia and Oceania,Vanuatu,Snacks,Online,C,4/1/2013,286001002,4/15/2013,2907,152.58,97.44,443550.06,283258.08,160291.98
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4970,Asia,Myanmar,Baby Food,Online,M,6/6/2012,670026814,6/15/2012,4679,255.28,159.42,1194455.12,745926.18,448528.94
4971,Europe,Russia,Personal Care,Offline,H,11/12/2011,473845756,12/16/2011,344,81.73,56.67,28115.12,19494.48,8620.64
4972,Middle East and North Africa,Qatar,Clothes,Online,L,8/29/2016,853746545,10/15/2016,1430,109.28,35.84,156270.40,51251.20,105019.20
4973,Sub-Saharan Africa,Cameroon,Beverages,Offline,L,2/27/2015,119153010,3/5/2015,8878,47.45,31.79,421261.10,282231.62,139029.48
4974,Asia,Malaysia,Office Supplies,Offline,L,11/25/2011,699801480,12/26/2011,5664,651.21,524.96,3688453.44,2973373.44,715080.00
4975,Australia and Oceania,Samoa,Meat,Online,C,4/12/2016,595740783,5/13/2016,1791,421.89,364.69,755604.99,653159.79,102445.20
4976,Sub-Saharan Africa,Zambia,Cereal,Online,M,1/16/2016,127332246,2/11/2016,9296,205.70,117.11,1912187.20,1088654.56,823532.64
4977,Sub-Saharan Africa,Gabon,Office Supplies,Online,M,5/9/2011,585249698,6/5/2011,7246,651.21,524.96,4718667.66,3803860.16,914807.50
4978,Europe,Belarus,Vegetables,Online,C,1/5/2011,180479466,1/12/2011,6740,154.06,90.93,1038364.40,612868.20,425496.20
4979,Sub-Saharan Africa,Chad,Snacks,Offline,M,7/16/2013,794320380,8/12/2013,5907,152.58,97.44,901290.06,575578.08,325711.98
4980,Asia,Indonesia,Personal Care,Offline,L,12/5/2010,328383767,12/18/2010,4909,81.73,56.67,401212.57,278193.03,123019.54
4981,Sub-Saharan Africa,Eritrea,Office Supplies,Online,H,3/7/2015,354593455,4/3/2015,938,651.21,524.96,610834.98,492412.48,118422.50
4982,Middle East and North Africa,Iran,Beverages,Offline,H,8/21/2016,265185773,10/5/2016,3218,47.45,31.79,152694.10,102300.22,50393.88
4983,Asia,South Korea,Clothes,Online,M,7/3/2010,422709548,8/4/2010,8004,109.28,35.84,874677.12,286863.36,587813.76
4984,Asia,Cambodia,Vegetables,Offline,L,10/3/2015,810026109,10/18/2015,3581,154.06,90.93,551688.86,325620.33,226068.53
4985,Asia,Laos,Cosmetics,Offline,L,10/13/2010,580309283,10/25/2010,5268,437.20,263.33,2303169.60,1387222.44,915947.16
4986,Asia,Sri Lanka,Office Supplies,Online,C,12/1/2012,307045400,12/2/2012,412,651.21,524.96,268298.52,216283.52,52015.00
4987,Europe,Norway,Personal Care,Offline,M,1/14/2014,634033286,1/15/2014,3394,81.73,56.67,277391.62,192337.98,85053.64
4988,Middle East and North Africa,United Arab Emirates,Household,Online,H,8/31/2014,925384271,10/12/2014,625,668.27,502.54,417668.75,314087.50,103581.25
4989,Asia,Thailand,Snacks,Online,C,8/8/2012,615522181,9/20/2012,5547,152.58,97.44,846361.26,540499.68,305861.58
4990,Europe,Ukraine,Cereal,Offline,L,4/14/2014,559183347,5/21/2014,3633,205.70,117.11,747308.10,425460.63,321847.47
4991,Europe,Armenia,Meat,Offline,M,11/9/2015,781416594,12/23/2015,7390,421.89,364.69,3117767.10,2695059.10,422708.00
4992,Middle East and North Africa,Iran,Clothes,Offline,L,7/11/2014,927583253,8/30/2014,1352,109.28,35.84,147746.56,48455.68,99290.88
4993,Europe,Denmark,Clothes,Offline,H,5/9/2012,713357150,6/3/2012,7088,109.28,35.84,774576.64,254033.92,520542.72
4994,Sub-Saharan Africa,Liberia,Cosmetics,Offline,M,6/17/2012,374724614,6/23/2012,8195,437.20,263.33,3582854.00,2157989.35,1424864.65
4995,Australia and Oceania,New Zealand,Household,Offline,C,4/3/2015,217984473,4/20/2015,5305,668.27,502.54,3545172.35,2665974.70,879197.65
4996,Middle East and North Africa,Azerbaijan,Clothes,Offline,L,8/17/2014,169748055,10/2/2014,1077,109.28,35.84,117694.56,38599.68,79094.88
4997,Asia,Myanmar,Baby Food,Offline,H,11/23/2016,226939189,12/10/2016,5204,255.28,159.42,1328477.12,829621.68,498855.44
4998,Europe,Finland,Clothes,Online,L,4/22/2014,906794202,5/11/2014,9410,109.28,35.84,1028324.80,337254.40,691070.40
4999,Sub-Saharan Africa,Tanzania,Vegetables,Online,L,7/8/2011,996861922,8/7/2011,2450,154.06,90.93,377447.00,222778.50,154668.50

In [117]:
df=['Country'].between("7-5-2010","3-13-2017")

AttributeError: 'list' object has no attribute 'between'